/* @media(max-width: 800px) { */
*{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  /* margin: 20px; */
}

.book-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 22px;
}

h4{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 0px;
  font-size: 30px;
}

form {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

label {
  display: flex;
  max-width: 400px;
}

.heart {
  display: flex;
  justify-content: center;
  padding-bottom: 75%;
}

button {
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}

input {
  justify-content: center;
  max-width: 400px;
  border-radius: 10px;
}

#Books{
  height: 40px;
  margin-bottom: 10px;
}

fieldset {
  margin: 10px;
  border-radius: 10px;
}

span {
  max-width: 400px;
  justify-content: center;
}
.spade {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

img{
  margin: auto;
  width: 300px;
  height: 400px;
  border: blanchedalmond 5px solid;
  margin-top: 100px;
}

button {
  align-self: center;  
  margin-bottom: 100px;
}

h6 {
  text-align: center;
  font-size: 22px;
}

p {
  text-align: center;
  font-size: 22px;
}

.spacer {
  padding: 50px
}

.details-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.home-button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding:5px;
}

.home-button:hover {
  background-color: #555;
}

#update-form {
 margin: auto;

 padding-top: 40px;
}

#button-div {
  margin: auto;
  padding: 15px;
}

.update-list {
  padding: 10px;
}
/* } */