* {
  background-color: black;
  color: white;
}

h4 {
  background-color: gray;
}

div {
  background-color: lightgray;
}

.detail-body {
  background-color: black;
}

h6 {
  background-color: gray;
}

button {
  background-color: black;
}

.spacer {
  background-color: black;
}

p {
  background-color: darkgray;
}